.comment__timestamp {
  width: 100%;
  text-align: right;
}
.commentModal__title {
  /* background-color: white; */
}

.commentModal {
  /* background-color: white; */
}

.commentModal__modalWrapper {
  max-width: 100%;
  margin: 0 60px;
}
