input:focus,
textarea:focus {
  outline: none;
} /* outline 테두리 없애기 */
/* 상태 표시해주는 모달창 --> to do: 외부로 뺄 것 */
.noReviewIndicator {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.indicator-success {
  width: 70px;
  height: 70px;
  color: blue;
  padding: 50px;
}
.review-container {
  max-width: 70%;
  padding: 10px;
}

.review__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}

.review__ .addReview__form {
  display: flex;
  width: 100%;
}
.addreview__modalWrapper {
  max-width: 100% !important;
}
.addreview__btn {
  height: max-content;
}

@media (max-width: 800px) {
  .addReview__form.flexible-col,
  .review.flexible-col {
    display: flex;
    flex-direction: column;
  }
}
/* 큰 화면에서 flex-row 스타일 적용 */
@media (min-width: 801px) {
  .addReview__form.flexible-col,
  .review.flexible-col {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
  }
}
.review.flexible-col {
  min-width: 350px;
  width: 100%;
}
.review__flexible-child {
  padding: 0;
}
@media (max-width: 800) {
  .review__flexible-child {
    width: 100%;
  }
}
@media (min-width: 801px) {
  .review__flexible-child {
    max-width: 50%;
  }
}
.carousel-arrow-icon {
  background-color: black;
  padding: 5px;
  border-radius: 50%;
}
.delete {
  color: red;
}
.editForm__author {
  width: auto;
}
.show-more-btn {
  word-break: break-all;
  margin-top: 5px;
}
.comment__content {
  white-space: unset;
}
/* image carousel */
.carousel__container {
  width: 100%;
  height: 100%;
  object-fit: contain;
  height: 400px;
  display: flex;
  align-items: center;
  background-color: #000000f5;
}
.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 100px;
  height: 20px;
}
.carousel__close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.carousel-bg-black {
  /* background-color: black; */
  background-color: white;
}
.carousel-bg-white {
  /* background-color: white; */
  max-width: 50%;
}
.carousel-item img {
  height: 400px;
  object-fit: cover;
}
.review__contents {
  margin-top: 10px;
}

.isLiked {
  color: red;
}
.disLiked {
  color: none;
}

/* 드래그 앤 드랍 */
.upload-area {
  position: relative;
  z-index: 999;
  width: 100%;
  height: 100%;
  border: 2px dashed #ccc;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: rgba(156, 157, 178, 0.263);
}
.upload-label {
  display: flex;
  color: #000000c1;
  font-weight: 600;
}
.upload-label-bottom-text {
  background-color: none;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: cener;
  flex-direction: column;
  padding: 15px 10px;
}
.file-input {
  display: none;
}
.drag-drop-area {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  z-index: -1;
}
.drag-drop-area-btn__container {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
}

.upload-icon,
.upload-text {
  font-size: 4rem;
  padding: 15px;
}
.active {
  background-color: #e6e6e6;
}
