.noReviewIndicator {
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-items: center;
}

/* review form */
.carousel-arrow-icon {
  background-color: black;
  padding: 5px;
  border-radius: 50%;
}
.delete {
  color: red;
}
.indicator-success {
  width: 70px;
  height: 70px;
  color: blue;
  padding: 50px0;
}
