@import "./reset.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "./components/review/review.css";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
/* flex-방향-justify-align 순서 */
.flex-row-center-center {
  display: flex;
  align-items: center;
  justify-items: center;
}
/* d-flex flex-column justify-content-center align-items-center */
.flex-column-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-justify-end {
  display: flex;
  justify-content: flex-end;
}
.line-break {
  white-space: pre-wrap;
}
/* 텍스트 관련 */
.link {
  cursor: pointer;
}
.text-author {
  font-weight: 600;
}
.bold {
  font-weight: 600;
}
.text-content {
  color: grey;
}
.text-timestamp {
  font-size: 0.8rem;
  font-weight: 600;
  color: gray;
}
.h-100 {
  height: 100%;
}
.min-h-100 {
  height: 100vh;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

/* indicator 모달창 관련 */
.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  margin: 100px 0;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

/* 토스트 팝업 창 */
.toast-popup {
  font-size: 1rem;
}
.toast-popup__icon {
  font-size: 2rem;
  min-height: 60px;
}
.toast-popup__title {
  font-weight: 600;
}

/* controls */
.submit-btn {
}
