.chats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bubbles-container {
  margin-bottom: 20px;
}

.bubbles__row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* 변경 */
}

.bubble {
  color: rgba(255, 255, 255, 0.919);
  position: relative;
  border-radius: 10px;
  width: max-content;
  padding: 20px 20px;
  margin-bottom: 5px; /* 변경 */
  margin-top: 20px;
  font-size: 20px;
}

.bubble:nth-child(even) {
  margin-left: 200px; /* 변경 */
  background-color: pink;
  align-self: flex-end; /* 변경 */
}

.bubble:nth-child(odd) {
  margin-right: auto; /* 변경 */
  background-color: blue;
}

.bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-bottom-color: transparent;
}

.bubble.right:after {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: pink;
}

.bubble.left:after {
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: blue;
}

.animal-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.animal {
  width: 360px;
}
